/* Global Styles */

*{
    box-sizing: border-box;
    }
  
    body {
    background-color: #2c2b2a;
    color: #f7f6f2;
    font-family: 'Lucida Sans Unicode', sans-serif;
    margin: 0;
    padding: 0;
    }
  
    h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 0.5rem;
    }
  
    p {
    margin: 0;
    }
  
    ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
  
    a {
    color: #f7f6f2;
    text-decoration: none;
    }
  
    a:hover {
    color: #d9d8d4;
    }
  
    img {
    max-width: 100%;
    }
  
    header {
    background-color: #a75a3c;
    padding: 1rem;
    text-align: center;
    }
  
    div.content {
        padding: 20px;
    }

    nav {
    background-color: #2c2b2a;
    padding: 1rem;
    }
  
    nav ul {
    display: flex;
    justify-content: space-around;
    }
  
    nav li {
    margin: 0 1rem;
    }
  
    main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    }

    .guide-section {
    width: 100%;
    max-width: 800px;
    }

    .guide-card {
        background-color: #46362c;
        border-radius: 0.5rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center; /* Center content horizontally */
        margin-bottom: 1rem;
        overflow: hidden;
        width: 100%;
        max-width: 800px;
      }
    
    .guide-card img {
    object-fit: cover;
    }
    
    .guide-card div {
    flex: 2;
    padding: 1rem;
    }
    
    .guide-card h2 {
    color: #b5b5b5;
    font-size: 1.5rem;
    }
    
    .guide-card p {
    color: #f0f0f0;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    }
    
    .guide-card ul {
    margin-bottom: 1rem;
    }

    div.all-day-actions li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    }

    input[type=checkbox] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 2px solid #fff;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        outline: none;
        transition: all 0.3s ease;
        position: relative;
      }
      
      input[type=checkbox]:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: red;
        border-radius: 50%;
        transition: all 0.3s ease;
      }
      
      input[type=checkbox]:checked:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(2, 192, 2);
        border-radius: 50%;
        transition: all 0.3s ease;
      }
      
      input[type=checkbox]:checked:after {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.3s ease;
      }
      
      input[type=checkbox]:focus {
        outline: none;
      }
      
      input[type=checkbox]:hover:before {
        background-color: #e0b806;
      }
          
    .guide-card button {
    background-color: #b5b5b5;
    border: none;
    border-radius: 0.25rem;
    color: #1d1d1d;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    margin: 1rem auto;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
    width: 80%;
    }
    
    .guide-card button:hover {
    background-color: #7f7f7f;
    }
    
    footer {
      background-color: #3b3d33;
      color: #f2d6a5;
      padding: 20px;
      text-align: center;
      font-size: 14px;
    }
    
    footer a {
      color: #f2d6a5;
      text-decoration: none;
    }
    
    footer a:hover {
      color: #a7854c;
    }
    
    .time:before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        border-radius: 50%;
        background: radial-gradient(circle at 30% 30%, #f9d71c, transparent);
        box-shadow: 0 0 3px 3px #f9d71c;
    }