<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.name }} - 20 days </title>
    <link rel="stylesheet" type="text/css" href="../../css/characters.css">
  </head>
  <body>
    <header>
      <h1>{{ page.name }}</h1>
    </header>
    <main class="container">

      <section class="guide-section">
        <div class="content">{{content}}</div>
        {% assign timeline = site.data.timelines[page.character] %}
        <div class="guide-card">
          <img src="{{ site.baseurl }}/assets/images/{{ guide.image }}" alt="{{ guide.title }}">
          <div>
            <!--<h2>{{ guide.title }}</h2>
            <p>{{ guide.description }}</p>-->
            <ul>
              {% for day in timeline %}
                <div class="time">Day {{ day.day }}</div>
                {% for action in day.actions %}
                  <li><input type="checkbox"><label>{{ action }}</label></li>
                {% endfor %}
              {% endfor %}
            </ul>
            <a href="{{ guide.url }}"><button>Play as {{ page.name }}</button></a>
          </div>
        </div>
      </section>
        
    </main>
    <footer>
      <p>© 2023 Nan Wu</p>
    </footer>
  </body>  
</html>
