<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.name }} - 20 days </title>
    <link rel="stylesheet" type="text/css" href="../../css/characters.css">
    <link rel="icon" href="../../assets/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header>
      <h1>{{ page.name }}</h1>
    </header>
    <main class="container">

      <section class="guide-section">
        <div class="content">{{content}}</div>
        {% assign timeline = site.data.timelines[page.character] %}
        <div class="guide-card">
          <div class="all-day-actions">
            <ul>
              {% for day in timeline %}
                <div class="time">Day {{ day.day }}</div>
                {% for action in day.actions %}
                  <li><input class="styled-checkbox" type="checkbox"><label>{{ action }}</label></li>
                {% endfor %}
              {% endfor %}
            </ul>
            <a href="{{ site.baseurl }}"><button>Back to Main Page</button></a>
          </div>
        </div>
      </section>
    
    </main>
    <footer>
    <p>© 2023 wGPT Version 1.0.0 </p>
    </footer>
  </body>  
</html>
