<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Don't Starve Together Characters!!!</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <header>
      <h1>Don't Starve Together Characters</h1>
    </header>
    <main>
      {{ content }}
      {% for character in site.characters %}
      <div>
        <h2><a href="{{ site.baseurl }}{{ character.url }}">{{ character.name }}</a></h2>
        <p>{{ character.description }}</p>
      </div>
      {% if forloop.last == false %}
      <hr>
      {% endif %}
      {% endfor %}
    </main>
    <footer>
      <p>© 2023 Nan Wu</p>
    </footer>
  </body>
</html>
