<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{ site.baseurl }{{'/css/style.css' }}">
    <title>Don't Starve Together Characters</title>
    <link rel="stylesheet" type="text/css" href="css/default.css">
  </head>
  <body>
    <header>
      <h1>Don't Starve Together Characters</h1>
      <p>A Guide to the Characters</p>
    </header>
    <main>
      <section class="introduction">
        {{ content }}
      </section>
      <section class="char-section">
        {% for character in site.characters %}
        <div class="char-card">
          <h2>{{ character.name }}</a></h2>
          <img src="{{ site.baseurl }}/assets/images/{{ character.image }}" alt="{{ character.name }} Picture">
          <p>{{ character.description }}</p>
          <a href="{{ site.baseurl }}{{ character.url }}"><button>View Guide</button></a>
        </div>
        {% endfor %}
      </section>
    </main>
    <footer>
      <p>© 2023 wGPT Version 1.0.0</p>
    </footer>
  </body>
</html>
